
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{		
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: auto;
	color: #000;
}

#time {
	font-size: 8em;
}

h1{
	margin-bottom: 2em;
}

h2{
	margin-bottom: 0.5em;
	opacity: 0.6;
}

@media(max-width: 700px){
	#time{
		font-size: 6em;
	}
}